body {
    background: #f0f0f0;
    font-family: Inconsolata, Courier;
	margin: 15px;
}

a {
	text-decoration: none;
	color: #c24;
}

a:hover {
	text-decoration: underline;
}

a.button {
    background: #c24;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    padding: .5em;
    margin: .5em;
}

a.button:hover,
a.button:active {
    opacity: .8;
}

u {
	text-decoration: none;
	background: #888;
	color: #fff;
	padding: 0 3px;
	border-radius: 4px;
}